@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --oxo-background: #1d1f21; /* Oxocarbon background */
  --oxo-foreground: #c5c8c6; /* Oxocarbon foreground/text */
}

@media (prefers-color-scheme: dark) {
  :root {
    --oxo-background: #0a0a0a; /* Dark mode background */
    --oxo-foreground: #ededed; /* Dark mode foreground/text */
  }
}

body {
  color: var(--oxo-foreground);
  background: var(--oxo-background);
  font-family: Arial, Helvetica, sans-serif;
}
